h1 {
        font-family: 'Festive', cursive; font-size: 50px; text-align: center;
    }
    h2 {
        font-family: 'Estonia', cursive; font-size: 15px;
    }
    h3 {
        font-family: 'Estonia', cursive; font-size: 15px;
    }
    P {
        font-family: 'Estonia', cursive; font-size: 12px;
    }
    P2 {
        font-family: 'Estonia', cursive; font-size: 12px;
    }
    P3 {
        font-family: 'Estonia', cursive; font-size: 12px;
    }
    img {
        border-radius: 10px;
        width: 200px;
        height: 150px;
        object-position: center;
    }
