body {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;    
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 260px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(238, 128, 128);
}
.content h1{
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    font-family: 'Festive', cursive; font-size: 60px; font-weight: 100; 
}
.content p{
    color: #6a7199;
    font-family: 'Estonia', cursive; font-size: 20px; font-weight: 100; 
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #f3cfa1, #ffb9e5);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}