body {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;    
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 1%;
}
.logo{
    width: 260px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
}
nav{
    flex: 1;
    padding-left: 60px;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(63, 9, 9);
}
.container2{
    width: 100%;
    height: 80vh;
    /*background: #fdc8e9;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: rgb(253, 211, 240);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px; 
}
form h3{
    color: #ec26a0;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center; /* I added this */
    font-family: 'Estonia', cursive; font-size: 25px; /* I added the font family */
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: rgb(247, 235, 231);
    font-family: 'Estonia', cursive; font-size: 16px; /* I added the font family */
    border-radius: 10px;
}
form button{
    padding: 15px;
    background: rgb(243, 223, 144);
    color: black;
    font-family: 'Estonia', cursive; font-size: 18px; /* I added the font family */
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.content h1{
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    font-family: 'Festive', cursive; font-size: 60px; font-weight: 100; 
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #f3cfa1, #ffb9e5);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.social-links{
    text-align: center;
    vertical-align: bottom;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 50px;
}
